#cloud-config
# vim: syntax=yaml
#
# ***********************
#	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: davidjuan # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDV9vuVT1f7A7Ij9ltIgzt0bPQWepfKKxG/011beHQZQ88qPePtGFZ5jN04ELUnp8k6UXNJVvebd45eo+8jEPXs68+OF4/mEb1wMjVmT8L302jGlsOUId4YPpxYZoM3bFsN8k7SxiiYIl7TidNnkRj91qfm4YzqHdclDqBvvXNmcne2+oO0ebMskJ6fNtSdc4BVB/Ydjg1+px0r3uqctasIZrueNS1F3sWxrChDHZCtAAmaKap9KgQH/I/QeNw1eXC0Br3FzUFvytx81momB4ySA8fyXoae4QbZYEK+Q3Az8gLjAQuFWrX2KVVWqqHH9tYMUC0WIYm8X+LO4Rdrqj/Xdk4kU7k5CDsrnNuybKsP9I2OLA9PSkX/lsZIoz6ThSdnqNb8huKW/Aya6EXtum9BRfFHx0+FOIQsbdaruBIosr1mUEst92PoSg5A1J9Y5M79zeQblL9l81qBztk9op16NJwnMnH352uliQj5hRe22yRcPoF+j5Zyo/aHY4cs0ZM= david.y.j.k@hotmail.com
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
